<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">News</h4>
                    <p class="category">News information retrieved from an API call</p>
                </div>
                <div class="content table-responsive table-full-width">
                    
                    <div id="gridContainer" dx-data-grid="gridOptions" dx-item-alias="site">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>